{% if with_error %}
	<div>{{ 'متاسفانه در روند پرداخت و تایید نهایی پرداخت از جانب بانک، خطا وجود دارد. در صورتی که مبلغ سفارش از حساب شما کسر گردیده است ظرف حداکثر 48 ساعت به حساب شما بازگردانده خواهد شد' }}</div>
{% else %}
	<div>{{ transaction_state.getCodeDescription() }}</div>
	<div>{{ 'کد سفارش' ~ ' : ' ~ order.code }}</div>
	<div>{{ 'برای پیگیری وضعیت سفارش خود، کد سفارش را نزد خود نگه دارید.' }}</div>
{% endif %}