#content {
    padding: 0 0 30px 0;
}

#portfolio_info_container, #portfolio_link_contents {
    padding: 30px 10% 80px 10%;
}

#portfolio_info_container, #portfolio_bar {
    background-color: #222;
}

#portfolio_bar {
	width: 100%;
	padding-top: 100px;
}

#portfolio_bar_info {
	padding: 10px 10%;
}

.hidden_portfolio_bar_info {
	visibility: hidden;
}

#portfolio_links_container {
    text-align: center;
}

.portfolio_link {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width: 12%;
    background-color: #282828;
    color: #AAA;
}

.portfolio_link:hover {
    background-color: #333;
    color: #CCC;
}

.portfolio_link_active, .portfolio_link_active:hover {
    cursor: default;
    background-color: #151515;
    color: #EEE;
}

#portfolio_link_contents {
    background-color: #151515;
}
