{% set user_image_path %}{% path app.user.image, 'big' %}{% endset %}
<img alt="{{ app.user.username }}" src="{{ asset(user_image_path) }}" style="background-color: #333; position: absolute;">
<div id="user_profile_add_image" class="transition2" onclick="jQuery('#inline-image-upload').dialog('open');">
	<span style="font-size: 100px; margin-left: 10px; vertical-align: top;">+</span><span>{{ 'افزودن عکس' }}</span>
</div>