#content {
    padding: 0 0 30px 0;
}

#portfolio_info_container, #portfolio_link_contents {
    padding: 30px 10% 80px 10%;
}

#portfolio_info_container, #portfolio_bar, .portfolio_links_container {
    background-color: #222;
}

#portfolio_bar {
	position: fixed;
	z-index: 40;
	top: 0;
	width: 100%;
	padding-top: 100px;
	box-shadow: 0 20px 20px 0 #151515;
	-webkit-box-shadow: 0 20px 20px 0 #151515;
}

.portfolio_bar_hidden {
	display: none;
}

#portfolio_bar_info {
	padding: 10px 10%;
}

.portfolio_bar_info_hidden {
	opacity: 0;
}

.portfolio_links_container {
    text-align: center;
}

.portfolio_link {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width: 12%;
    background-color: #282828;
    color: #AAA;
}

.portfolio_link:hover {
    background-color: #333;
    color: #CCC;
}

.portfolio_link_active, .portfolio_link_active:hover {
    cursor: default;
    background-color: #151515;
    color: #EEE;
}

#portfolio_link_contents {
    background-color: #151515;
}


